$gray: #999;
$item-green: #5ea20d;
$blue: #1a75ce;

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: $gray;
}

#header {
  .logo-link {
    background: url('asset/walmart-sprite.png') 0 -1320px no-repeat;
    height: 45px;
    width: 186px;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    margin: 8px 0 0 19px;
    text-decoration: none;
    display:block;

    cursor: pointer;
  }

  background: #1a75ce;
  width: 100%;
}

#product-container {
  padding: 50px;

  .product-form {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;

    input {
      margin-bottom: 7px;

      &.field {
        padding: 5px 57px 5px 0;

        &.err {
          border: #c00 solid 2px;
          border-radius: 5px;
        }
      }
    }
  }
}

#order-container {
  padding: 60px;

  .order-header {
    margin-bottom: 40px;
  }

  .header {
    list-style: none;
    border-radius: 4px 4px 0 0;
    background-color: #f7f7f7;
    margin: 0;
  }

  .header-item {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0;
    padding: 20px 0;
    color: #666;

    &.--name {
      width: 50%;
    }
    &.--other {
      width: 16.33%;

      &.--sub-total {
        text-align: right;
      }
    }
  }

  .order-footer {
    background-color: #f7f7f7;
    border-radius: 0 0 4px 4px;
    padding: 0 25px 150px 25px;
    margin-bottom: 20px;

    .order-total{
      width: 29.95%;
      float: right;
      margin-right: 0;
      text-align: right;

      .order-sub-total {
        color: #666;
        padding: 25px 0;

        .sub-total-value {
          color: $item-green;
        }
      }

      .order-total-values {
        padding: 25px 0;
        font-size: 20px;
        border-top: 1px dotted #d2d2d2;
        .total-value {
          color: #5ea20d;
        }
      }
    }
  }

  .item-row {
    list-style: none;
    margin: 0;

    li {
        display: inline-block;
        float: none;
        margin: 0;
        padding: 40px 0;

        &.item-name {
          width: 50%;
          color: $blue;
        }
        &.item-value {
          width: 16.33%;
          color: $item-green;
        }
        &.item-quantity {
          width: 16.33%;

          .qty-btn {
            color: $blue;
            cursor: pointer;
            width: 35px;
            height: 28px;
            padding: 1px 0 28px 0;
            margin: 0;
            text-align: center;
            overflow: hidden;
            border: 1px solid #d2d2d2;
            background: #f4f4f4;
            font-size: 20px;

            &.--minus {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }
            &.--plus {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }

          .item-quantity-input{
            padding: 0 10px;
            height: 29px;
            width: 18px;
            border: 1px solid #d2d2d2;
            text-align: center;
            font-family: "open sans",arial,sans-serif;
            margin: 0;
            font-size: 15px;
          }
        }
        &.item-sub-total {
          width: 16.33%;
          color: $item-green;
          text-align: right;
        }
    }

  }
}

.btn {
  font-size: 16px;
  vertical-align: baseline;
  margin: 0;
  padding: 7px 55px;
  cursor: pointer;

  text-decoration: initial;
  display: inline-block;
  border-radius: 4px;
  border-style: solid;
  color: #FFF;
  background-color: #5a981c;
  border-bottom-color: #477716;

  &.product {
    float: left;
  }

  &.--right {
    float: right;
  }
}

#footer {
  .footer-wrapper {
    margin: 0 auto;

    width: 278px;
    height: 95px;
  }

  .footer-span {
    color: $gray;
    font-size: 12px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    display:block;
    padding: 2px;

    & a {
      color: #1a75ce
    }
  }
}
